.search__input--small {
  height: 42px;
  padding-left: 33px;

  font-size: 14px;

  background-size: 11px;
  background-position:
    top 14px left 12px,
    0 0;
}

.search__input--small:focus {
  background-image: url(../../images/Search.svg),
    linear-gradient(to bottom, #fff, #f6f6f7);
  background-size:
    11px,
    100% 100%;
}
